body{
    background-color: black; 
    color: red;
}

header {
text-align: center;
color: rgb(241, 245, 5);
border-bottom: solid 5px rgb(4, 145, 4);
font-size: 40px;

}

section {
background-color:rgb(145, 249, 253);
padding: 30px;
margin-top: 15px;
    display: flex;
}

.chamada_texto{

    margin-right:4%;
}